// @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
// @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

@font-face {
	font-family: "Brandon Grotesque";
	src:
	  url("/fonts/Brandon-Grotesque_regular.woff") format("woff"),
	  url("/fonts/Brandon-Grotesque_regular.otf") format("otf"),
	  url("/fonts/Brandon-Grotesque_regular.ttf") format("ttf");
	font-weight: normal;  
	// font-weight: 400;  // これとも同じ意味です
    font-style: normal;
	display: swap;
  }

  @font-face {
	font-family: "Source Han Sans JP";
	src:
	  url("/fonts/SourceCodePro-Black.woff") format("woff"),
	  url("/fonts/SourceCodePro-Black.otf") format("otf"),
	  url("/fonts/SourceCodePro-Black.ttf") format("ttf");
	font-weight: 900;
	font-style: normal;
	display: swap;
  }

  @font-face {
	font-family: "Source Han Sans JP";
	src:
	  url("/fonts/SourceCodePro-Bold.woff") format("woff"),
	  url("/fonts/SourceCodePro-Bold.otf") format("otf"),
	  url("/fonts/SourceCodePro-Bold.ttf") format("ttf");
	font-weight: bold;  // または font-weight: 700;
	font-style: normal;
  }

  @font-face {
	font-family: "Source Han Sans JP";
	src:
	  url("/fonts/SourceCodePro-Medium.woff") format("woff"),
	  url("/fonts/SourceCodePro-Medium.otf") format("otf"),
	  url("/fonts/SourceCodePro-Medium.ttf") format("ttf");
	font-weight: 500;
  	font-style: normal;
  	display: swap;
  }

  @font-face {
	font-family: "Source Han Sans JP";
	src:
	  url("/fonts/SourceCodePro-Regular.woff") format("woff"),
	  url("/fonts/SourceCodePro-Regular.otf") format("otf"),
	  url("/fonts/SourceCodePro-Regular.ttf") format("ttf");
	font-weight: normal;  // または font-weight: 400;
  	font-style: normal;
  	display: swap;
  }

  @font-face {
	font-family: "Source Han Sans JP";
	src:
	  url("/fonts/SourceCodePro-Light.woff") format("woff"),
	  url("/fonts/SourceCodePro-Light.otf") format("otf"),
	  url("/fonts/SourceCodePro-Light.ttf") format("ttf");
	font-weight: 300;
  	font-style: normal;
  	display: swap;
  }

body {
	font-family:
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
	color: #1e1e1e;
	-webkit-font-smoothing: antialiased;
}

a {
	color: #1e1e1e;
	text-decoration: none;
}

a:hover {text-decoration: none;}
